
body {
    background-color: #f0f0f0;
}

h1 {
    color: white;
}body{
    font-family: arial;
    background-color: #f4f4f4;
}  

header {
    background-color: #ad84b3;
    color: white;
    text-align: center;
    padding: 20px;
}

h2 {
    color: #ad84b3;
}


ul {
    background-color: white;
    padding: 15px;
}

footer {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 20px;

}